body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: rgb(96, 96, 217);
  padding: 20px;
}

h1 {
  margin: 0;
}

main {
  max-width: 800px;
  padding: 20px;
}
